*{
    /* color: gray; */
    padding: 0;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    /* box-sizing: content-box; */
    /* box-sizing: border-box; */
}

/* html{
    margin: 10px 10px;
    border: 2px solid yellow;
} */

body{
    border: 2px dashed greenyellow;
    margin: 0px auto;
    min-width: 320px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: rgba(22, 22, 77, 1); */
}


header> nav{
    display: flex;
    flex-wrap: wrap;

}

header> nav> .main{
    /* border: 2px solid red; */
    max-width: 1200px;
    height: 70px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-options> ul{
    display: flex;
    gap: 1rem;
}

.menu-options> ul, li> a, .find-store> a{ 
    /* I'm selecting all <a> tag in header
        and <ul> tag */
    list-style: none;
    text-decoration: none;
}

.box, .main .box{
    /* here I'm trying to select both
     "box" inside and outside of ".main"
     (outside = sign-in, find store) */
    width: 300px;
    height: 100%;
    /* border: 2px dashed blue; */
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.main-sticky{
    position: fixed;
    top: 80px;
    height: 50px;
    min-width: 1200px;
    border: 2px dashed yellowgreen;
    background-color: #1e3631;
}



/* main-containt/landing page */

.main-containt{
    width: 1200px;
    height: 600px;
    background-color: rgb(212, 233, 226);
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.main-containt> .box{
    width: 600px;
    height: 600px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* .main-containt> .img-star> img{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/2;
    margin-left: -200px;
} */

.main-containt> .img-star{
    background-image: url(img/image-star.png);
}


/* second page or section */

.section-tow{
    width: 1200px;
    height: 600px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.section-tow> .section-top, .section-buttom{
    width: 1200px;
    height: 300px;
}

.section-tow> .section-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-tow> .section-top> p{
    color: #000;
}



.section-buttom> .card{
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section-buttom> .card> .steps{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.section-buttom> .card> .steps> p{
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(0, 100, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(0, 100, 64);
    border-radius: 50%;
}

.card> p, h2{
    color: #000;
}

.card a{
    color: red;

}


/* section three */


.section-three{
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.section-three .section-top{
    width: 1200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(241, 248, 245);
    margin-bottom: -20px;
}

.section-top> .btns{
    width: 1200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section-three> .section-buttom{
    background-color: rgb(212, 233, 226);
}


.section-buttom .slides{
    width: 250px;
    height: 250px;
} 

/* section four */

.section-four{
    width: 1200px;
    height: 500px;
    padding: 100px 10px;
    display: flex;
    flex-wrap: wrap;
}

.section-four> .section-top{
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.section-four> .section-buttom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-four> .section-buttom> .cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-four> .section-buttom> .cards> p{
    text-align: center;
}

.section-four> .section-buttom> .cards> p> a{
    color: red;
}

/* section five */

.Cash-or-card{
    width: 1200px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(240, 242, 235);
}

.Cash-or-card> .title{
    width: 1200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-of-payment{
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 200px;
    border: 5px solid blue;
}

.cards> .image{
    width: 100px;
    height: 100px;
}

.cards> .image> img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.Scan-and-pay-separately, .Save-payment-in-the-app{
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid red;
}

.Scan-and-pay-separately> .img, .Save-payment-in-the-app> .img{
    width: 100px;
    height: 200px;
    border: 2px dashed yellow;
}

.Scan-and-pay-separately> .img> img, .Save-payment-in-the-app> .img> img{
    width: 100px;
    height: auto;
}

/* section six */
/*  */

.Keep-the-Rewards-Coming{
    background-color: rgb(212, 233, 226);
    width: 1200px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Keep-the-Rewards-Coming> .img{
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* object-fit: contain; */
}

.Keep-the-Rewards-Coming> p{
    width: 400px;
}

.Keep-the-Rewards-Coming> .img> img{
    width: 12rem;
    height: auto;
}

/* question section */


.question{
    width: 1200px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.question> h3{
    width: 1155px;
    text-align: center;
}

.question> p{
    width: 600px;
}

  