/* *{
    padding: 0;
    font-family: "Noto Sans JP", sans-serif;
} */

/* 
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.noto-sans jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/*  </> Custome CSS Library </> */

/* .flex-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
} */


/*  </> End Custome CSS Library </> */


/* 
body{
    border: 2px dashed greenyellow;
    margin: 0px auto;
    max-width: 1500px;
    min-width: 300px;
    padding: 0rem 0.2rem;
    padding-bottom: 25rem;
    margin-bottom: 10rem;
    overflow: visible;
} */


.cash-or-card-title> h4{
    margin: 0 0;
    margin-top: 3rem;
    /* color: red; */
    font-size: x-large;
}

.cash-or-card-title> p{
    /* flex: 1 0 700px; */
    /* font-size: medium; */
    /* margin: 0 18rem; */
    max-width: 670px;
    padding: 0rem 14rem;
    line-height: 1.6rem;
    text-align: center;
}

.cash-or-card-title{
    margin-bottom: 4rem;
}

.row{
    /* border: 5px solid green; */
    max-width: 1500px;
    min-width: 700px;
    padding-bottom: 2rem;
    /* padding: 1rem 2rem; */
    /* flex: 3 0 700px; */
    /* justify-content: flex-start; */
    /* margin-left: -400px; */
}


.boxes> .box{
    /* border: 2px dashed red; */
    /* max-width: 700px; */
    min-width: 300px;
    align-items: start;
    justify-content: start;
}

.box> h4{
    padding: 0;
    margin: 0;
    margin-bottom: -0.6rem;
}

.box> .img{
    margin-right: 20px;
}

.box> .img> img{
    max-width: 110px;
}

.box> .info{
    min-width: 200px;
    max-width: 400px;
    /* border: 5px solid blue; */
    /* margin-top: 20px; */
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
}

.box> .info> h6{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;
}

.box> .info> p{
    /* max-width: 200px; */
    font-size: 1.0rem;
    padding-top: 1rem;
    line-height: 1.5rem;
    padding-right: 110px;
    margin: 0;
}


hr{
    width: 93%;
    margin-bottom: 3rem;
    background-color: gray;
}