*{
    padding: 0;
    /* margin: 0; */
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    /* background-color: #000;
    color: #fff; */
    /* border: 2px solid red; */
}

/*  </> Custome CSS Library </> */

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/*  </> End Custome CSS Library </> */


.bg-questions{
    background-color: rgb(249, 249, 249);
}

.questions{
    align-items: start !important;
    padding: 5rem 15rem !important;
}

.questions> h5{
    font-size: xx-large;
    margin: 0;
    margin-bottom: 10px;
}

.questions> p{
    max-width: 680px;
}

.questions> p> a{
    color: #006241;
}

.At-participating-stores{
    width: 100%;
    padding: 1rem;
    /* border: 2px solid red; */
}


.boxes-of-questions-left, .boxes-of-questions-right{
    flex: 1 1 700px;
    /* border: 2px solid blue; */
    /* min-height: 100%; */
    align-content: baseline;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}



.boxes-of-questions-left> .earnings-stars, .benefits{
    align-items: start;
    justify-content: space-between;
    margin-right: 2rem;
}

.benefits, .redeeming-rewards, .terms-of-use, .earnings-stars{
    display: flex;
    flex-direction: column;
}

.benefits, .redeeming-rewards{
    min-height: 100px;
    align-items: start;
    align-content: start;
}

.benefits{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.benefits> h6, .redeeming-rewards> h6{
    margin: 0;
}

.flex-top{
    align-items: start;
}


.flex-top h6{
    font-size: 14px;
    color: rgb(104, 104, 104);
    margin: 0;
    margin-top: 11px;
    letter-spacing: 1.5px;
}

.bg-questions p{
    line-height: 1.5;
    font-size: 14px;
}

.bg-questions a{
    color: #006241;
}
